
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Index.cshtml -->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Домашній бухгалтерський облік</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <br /><br /><br />
    <div class="container">
        <header>
            <h1>Домашній бухгалтерський облік</h1>
 
        </header>

        <section>
            <h2>Ласкаво просимо!</h2>
            <p>Тут ви зможете вести облік своїх доходів та витрат, створювати бюджети та аналізувати фінансові показники.</p>
        </section>

    </div>
</body>
</html>


